
# Python/IPython
*.pyc
*.ipynb_checkpoints

# Saved models, config, and Tensorboard run logs
saved/*
saved_archives/*

# symlinks to renderman
librenderman.so
synth/librenderman.so

# Folder of figures (matplotlib or others)
figures/*
