# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Synthesizer Programming from VAEs Latent Space
email: glevaillant@he2b.be
description: >- # this means to ignore newlines until "baseurl:"
  DAFx21 paper (under review) accompanying material

# Use empty (base)url for local dev
#baseurl: ""
#url: ""
# Use full URL before pushing to GitHub
baseurl: "preset-gen-vae" # the subpath of your site, e.g. /blog
url: "https://gwendal-lv.github.io" # the base hostname & protocol for your site, e.g. http://example.com


#twitter_username: jekyllrb
github_username:  gwendal-lv

# Build settings
#theme: minima
theme: minimal-mistakes-jekyll
remote_theme: "mmistakes/minimal-mistakes"
plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-include-cache

minimal_mistakes_skin: "default" # "default", "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum" "sunrise"

repository: gwendal-lv/preset-gen-vae

# TODO doesn't work
main:
  - title: "About"
    url: /about/

atom_feed:
  hide: true

# TODO re-test wide class
#classes: wide

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
